<form class="notes__form-wrapper">
    <div class="notes__form-date">{{date}}</div>
    <div class="notes__form-title">
        <label class="notes__form-label" for="title">День под девизом</label>
        <input type="text" name="title" id="title" class="notes__form-title__input" value="{{title}}">
    </div>
    <div class="notes__form-text">
        <label class="notes__form-label" for="text">Заметка</label>
        <textarea class="notes__form-text__textarea" name="text" id="">{{text}}</textarea>
    </div>
    <div class="notes__buttons">
        <a data-click="save">Сохранить</a>
        <a data-click="cancel">Отмена</a>
        {{#if model }}
            <a data-click="remove">Удалить</a>
        {{/if}}
    </div>
</form>