<form>
    <h2>Дата: {{date}}</h2>
    <div class="notes__form__input-group">
        <label class="notes__form__label" for="title">День под девизом</label>
        <input type="text" name="title" value="{{title}}">
    </div>
    <div class="notes__form__input-group">
        <textarea name="text" id="">{{text}}</textarea>
    </div>
    <div class="notes__form__input-group">
        <a data-click="save">Сохранить</a>
        <a data-click="cancel">Отмена</a>
        {{#if model }}
            <a data-click="remove">Удалить</a>
        {{/if}}
    </div>
</form>