// nib is a powerful lib for stylus that provides cross-browser css3 mixins.
// No more vendor prefixes. http://visionmedia.github.com/nib/
@import 'nib'

html,
body
  height 100%

.notes
  position relative
  box-sizing border-box
  height 100%
  width 100%
  max-width 960px
  margin 0 auto
  font-family sans-serif
  -webkit-font-smoothing antialiased

  @media screen and (min-width: 1024px)
    padding 5%

  &__header
    display table
    position relative
    width 100%
    height 10%
    text-align center
    background-color rgb(238, 238, 238)
    z-index 2000

    &-trigger
      display table-cell
      vertical-align middle
      cursor pointer

      &--hide
        display none

  &__state
    display table-cell
    vertical-align middle
    font-weight bold
    text-transform uppercase
    color #222222

  &__body
    transition all 1s
    height 90%
    width 100%
    border-collapse collapse
    font-size 1.5em
    position absolute
    top -100%
    z-index 1000

    &--show
      top 10%

    @media screen and (max-width: 1024px)
      &
        font-size 0.8em

    thead
      font-weight bold

      td
        vertical-align middle
        background-color rgb(112, 196, 105)
        color white
        padding 0.6em
        font-weight normal
        text-align center
        text-transform uppercase

    tbody
      td
        vertical-align middle
        background-color rgb(238, 238, 238)
        color rgb(111, 111, 111)
        text-align center
        padding 5px 0

    .day
      &__num
        display inline-block
        font-size 1.5em
        height 65px
        width 65px
        line-height 65px

        @media screen and (max-width: 1024px)
          &
            height 40px
            width 40px
            line-height 40px

      &--planned
        .day__num
          border-radius 50%
          background #C5BD69
          color #fff

      &--weekend
        color tomato

      &--today
        .day__num
          border-radius 50%
          border 1px solid tomato

      &--non-current
        color rgb(210, 210, 210)

  &__form
    width 100%
    height 90%
    position absolute
    top -100%
    transition all 1s
    z-index 1000
    background #70c469
    text-align center

    &--show
      top 10%

    &-wrapper
      height 100%

    &-date
      font-size 30px
      padding 20px 0

    &-label
      font-size 1em
      text-transform uppercase
      display block

    &-title
      &__input
        box-sizing border-box
        display block
        width 95%
        height 50px
        margin 10px auto 20px auto
        padding 15px
        font-size 1.5em

    &-text
      height 40%

      &__textarea
        box-sizing border-box
        display block
        width 95%
        height 80%
        margin 10px auto 20px auto
        padding 15px
        font-size 1.2em

    a[data-click]
      cursor pointer
      text-align center
      display block
      padding 10px 20px
      margin 5px auto
      color #2c2c2c
      background #eee
      font-size 1em
      text-transform uppercase
      max-width 300px